<a href="https://colab.research.google.com/github/TarasStasko/Python_2/blob/main/Python_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New section

In [ ]:
# 1.
a = 10
b = 10
print(id(a))
print(id(b))

a == b
#  Змінні рівні за значенням і посилаються на один і той самий обʼєкт в памʼяті.

135872788283920
135872788283920

True

In [ ]:
# 2.
a = 15
b = False
print(type(a))
print(type(b))

<class 'int'>
<class 'bool'>

In [ ]:
# 3.
a = 3
b = 10.5
print(a+b)
print(b-a)
print(a*b)
print(a/b)
print(b//a)
print(b%a)
print(b**a)

13.5
7.5
31.5
0.2857142857142857
3.0
1.5
1157.625

In [ ]:
# 4.
a = 3
b = 10.5
c = False
b = int(b)
print(type(b))
print(b)
c = int(c)
print(type(c))
print(c)

<class 'int'>
10
<class 'int'>
0

In [ ]:
# 5.
a = ""
print(a)
b = str()
print(b)

In [ ]:
# 6.
normal_string = "Апостроф: \n ' "

raw_string = r"Апостроф: \n ' "

print(normal_string)
print(raw_string)

Апостроф:
 '
Апостроф: \n '

In [ ]:
# 7.
surname = "Stasko"
fsurname = f"My surname is {surname}"
print(fsurname)

My surname is Stasko

In [ ]:
# 8.
a = "My dog is crazy."
b = a.lower()
c = b.split()

print(c)

['my', 'dog', 'is', 'crazy.']

In [ ]:
# 9.
a = []
b = list()
print(a)
print(b)
print(len(a))
print(len(b))

[]
[]
0
0

In [ ]:
# 10.
a = [1,2,3]
b = [1,2,3]
a.append(b)
print(a)

[1, 2, 3, [1, 2, 3]]

In [ ]:
# 11.
a = [[1,2,12], [7,3,4]]
b = a[-1][0]

print(b)

7

In [ ]:
# 12.
a = [1, 2.5, 'b', [3,4], (5,6), {'December': 31} , 'Hello', 8, False, 10]
print(a[2:-2])

['b', [3, 4], (5, 6), {'December': 31}, 'Hello', 8]

In [ ]:
# 13.
tuple = ()

# 14.
Схожості:
можливість зберігання декількох об'єктів,
індексація та зрізи,
можливість містити об'єкти різних типів.

Відмінності:
кортежі, на відміну від списків, є незмінними,
синтаксис,
споживана пам'ять.

Списки використовуються тоді, коли потрібно створити послідовність, яку можна буде змінювати пізніше

Кортежі використовуються тоді, коли потрібно створити незмінну послідовність, яка буде використовуватися як константа.

In [ ]:
# 15.
a = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
b = a[::-1][0:10:2]
print(b)

(0.3, 8.3, 6.3, 4.3, 2.3)

In [ ]:
# 16.
myset = {}
myset = set(myset)
myset.update([12, 'hello', 25])

print(myset)
print(type(myset))
# Множина є змінним типом даних

{25, 'hello', 12}
<class 'set'>

In [ ]:
# 17.
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)
# особливістю множин є унікальність елементів, тобто множина не може мати два однакові елементи

{1, 2, 67, 8, 9}

In [ ]:
# 18.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
union_set = set1.union(set2)
print(union_set)
difference_set = set1.difference(set2)
print(difference_set)
intersection_set = set1.intersection(set2)
print(intersection_set)
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{3, 4, 5}
{1, 2, 6, 7}

In [ ]:
# 19.
d = {}
d["year"] = 2024
d[213] = 'num'
d[10.5] = 'float'
d[(1, 2, 3)] = 'tuple'
print(d.items())
# Списки не можуть бути хешовані

dict_items([('year', 2024), (213, 'num'), (10.5, 'float'), ((1, 2, 3), 'tuple')])

In [ ]:
# 20.
dict = {'dictionary': {'February': {'day': 'monday'}}, 'year': 2024}
print(dict['dictionary']['February']['day'])

monday